@charset "UTF-8";

/* デモ レイアウト用スタイル */
html {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  padding: 80px 20px;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

em {
  font-style: initial;
}

.container {
  display: grid;
  row-gap: 40px;
}

h1, h2 {
  margin: 0;
}

.em {
  display: inline-block;
  padding: 8px;
  background-color: #caebff;
  border-radius: 4px;
  text-box: trim-both cap alphabetic;
}

.title {
  margin-bottom: 60px;
}

.title-sub {
  margin-bottom: 16px;
}